<mat-toolbar color="primary" class="mat-elevation-z6">
  <a>Abfad Ltd.</a>
  <span class="fill-remaining-space"></span>
  <div *ngIf="isLoggedIn">
    <a mat-button (click)="onLogout()">
        <mat-icon >exit_to_app</mat-icon> Logout
    </a>
    <a mat-button [matMenuTriggerFor]="menu">
      <mat-icon >menu</mat-icon> Menu
    </a>
  </div>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/services" routerLinkActive="active">
    <mat-icon>grain</mat-icon>
    <span >Services</span>
  </button>
  <button mat-menu-item>
    <mat-icon>business_center</mat-icon>
    <span >Projets</span>
  </button>
  <button mat-menu-item routerLink="/user" routerLinkActive="active">
    <mat-icon >account_circle</mat-icon>
    <span >Profile</span>
  </button>
</mat-menu>
