<mat-toolbar color="primary" class="mat-elevation-z6">
  <a>Abfad Ltd.</a>
  <span class="fill-remaining-space"></span>
  <div *ngIf="authStatus">
      <!-- *ngIf="isLoggedIn" -->
      <!-- remove/place 'isLoggedIn' inside <div> during development stage -->
    <a mat-button (click)="onLogout()">
        <mat-icon >exit_to_app</mat-icon> Logout
    </a>
    <a mat-button [matMenuTriggerFor]="menu">
      <mat-icon >menu</mat-icon> Menu
    </a>
  </div>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button *ngIf="isAdmin" mat-menu-item routerLink="/admin" routerLinkActive="active">
    <mat-icon color="primary">supervisor_account</mat-icon>
    <span >Admin</span>
  </button>
  <button mat-menu-item routerLink="/services" routerLinkActive="active">
    <mat-icon color="primary">grain</mat-icon>
    <span >Services</span>
  </button>
  <button mat-menu-item routerLink="/projects" routerLinkActive="active">
    <mat-icon color="primary">business_center</mat-icon>
    <span >Projets</span>
  </button>
  <button mat-menu-item routerLink="/user" routerLinkActive="active">
    <mat-icon color="primary">account_circle</mat-icon>
    <span >Profile</span>
  </button>
</mat-menu>
