.login-card {
  width: 500px;
  margin: auto;
  overflow: hidden;
}

.login-header-image {
  background-image: url('/assets/logo.png');
  background-size: cover;
}

mat-card-header {
  margin-bottom: 1em;
}

mat-form-field {
  width: 400px;
}

mat-form-field input{
  font-size: 1rem;
}

mat-card-content {
  height: 65px;
}

form {
  display:block;
}

@media (max-width: 550px) {
  .login-card {
    width: 300px;
  }
  mat-form-field {
    width: 100%;
  }
  mat-card-content {
    height: 125px;
  }
}
