<mat-card class="login-card" [class.mat-elevation-z5]="true">
  <mat-card-header>
    <div mat-card-avatar class="login-header-image"></div>
    <mat-card-title>Login</mat-card-title>
    <mat-card-subtitle *ngIf="next">
      Please login to use the system
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="!next">
      <strong>{{usernameCheckForm.value.email}}</strong>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form *ngIf="next" [@flyInOut]="'in'"
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
      [formGroup]="usernameCheckForm"
      (ngSubmit)="onNext(usernameCheckForm.value.email)">
      <mat-form-field>
        <input
          type="email"
          matInput
          placeholder="email"
          formControlName="email">
        <mat-hint *ngIf="!usernameCheckForm.value.email">Please enter your email address</mat-hint>
        <mat-error>Invalid or missing email.</mat-error>
      </mat-form-field>
      <button *ngIf="!spinner" type="submit" mat-raised-button color="accent" [disabled]="usernameCheckForm.invalid">Next</button>
      <mat-spinner *ngIf="spinner" [diameter]="spinnerDiameter"></mat-spinner>
    </form>
    <form *ngIf="!next" [@flyInOut]="'in'"
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
      [formGroup]="loginForm"
      (ngSubmit)="onLogin(loginForm.value.password)">
      <mat-form-field>
        <input
          matInput
          placeholder="password"
          [type]="hide ? 'password' : 'text'"
          formControlName="password">
        <mat-icon matSuffix (click)="hide = !hide">
          {{hide ? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <mat-hint *ngIf="!loginForm.value.password">
          Please enter your password
        </mat-hint>
        <mat-hint *ngIf="this.userExists" align="end">
          <b>{{ loginForm.value.password?.length }} characters</b>
        </mat-hint>
        <mat-hint *ngIf="!this.userExists" align="end">
          <b>{{ loginForm.value.password?.length }} / min 6 characters</b>
        </mat-hint>
        <mat-error>Should be at least 6 characters long.</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="accent" [disabled]="loginForm.invalid">Login</button>
    </form>
  </mat-card-content>
</mat-card>
