<mat-card class="user-card">
  <mat-card-title>
    <h3>Contact details</h3>
  </mat-card-title>
  <mat-card-subtitle *ngIf="showReminder" class="warning">
    <mat-icon color="warn">warning &nbsp;</mat-icon>
    Please update your contact details 
  </mat-card-subtitle>
  <mat-spinner *ngIf="spinner" [diameter]="50"></mat-spinner>
  <form [formGroup]="contactForm" (ngSubmit)="onSave()" fxLayout="column wrap" fxLayoutAlign="center center">
    <mat-card-content fxLayout="column" fxLayoutGap="20px">
      <mat-form-field>
        <input formControlName="email" matInput placeholder="Email address">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="address" matInput placeholder="Address line">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="city" matInput  placeholder="City">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="country" matInput placeholder="Country">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="phone" matInput placeholder="Phone/Mobile number">
        <span matPrefix>+&nbsp;</span>
        <mat-error>Should be phone number</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayout fxLayoutGap="20px">
      <button *ngIf="isDisabled" mat-button color="primary" (click)="onUpdate()">UPDATE</button>
      <button *ngIf="!isDisabled" mat-button color="warn" type="submit">SAVE</button>
    </mat-card-actions>
  </form>
</mat-card>
