#main {
  /* for sticky footer*/
  min-height: 100%;
}

app-navbar {
  /* remove 8px margins from top, left and right
     to cover the header with navbar
  */
  margin: -8px -8px 50px;
}
@media (max-width: 599px) {
  app-navbar {
    margin-bottom: 20px;
  }
}


#copyright {
  margin-top: 30px;
  font-size: small;
  color: #979797;
  /* to keep consistency of the 'copyright' message
     match & remove default <html> element generated margin
     then place padding
  */
  margin-bottom: -8px;
  padding-bottom: 8px;
}
