<div *ngIf="spinner"  fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner [diameter]="150"></mat-spinner>
</div>
<div *ngIf="!spinner" fxLayout="row" fxLayout.xs="column"
  fxLayoutAlign="space-evenly center" fxLayoutAlign.xs="space-evenly stretch"
  fxLayoutGap.xs="20px">
  
  <a routerLink="/admin/manage-services" fxFlex="25">
    <mat-card >
      <mat-card-title>Manage Servicess</mat-card-title>
    </mat-card>
  </a>
  
  <a routerLink="/admin/manage-projects" fxFlex="25">
    <mat-card >
      <mat-card-title>Manage Projects</mat-card-title>
    </mat-card>
  </a>
  
  <a routerLink="/admin/manage-users" fxFlex="25">
    <mat-card >
      <mat-card-title>Manage Users</mat-card-title>
    </mat-card>
  </a>

</div>