<div fxLayout="row" fxLayoutAlign="space-between none" >
  <div fxFlex="15%" fxFlex.xs="0%"></div>
  <mat-accordion fxFlex="70%" fxFlex.xs="100%">
    <mat-spinner *ngIf="spinner"></mat-spinner>
    <mat-expansion-panel
      *ngFor="let service of services; let i = index; let l = last"
      [expanded]="step === i" (opened)="setStep(i)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title fxFlex="40">
          {{service.name}}
        </mat-panel-title>
        <mat-panel-description fxFlex="60">
          {{service.description}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="row" fxLayout.lt-sm="column">
          <div fxFlex>
            <img src="assets/company-services/{{service.img}}.jpg" alt="{{service.name}}" >
          </div>
          <div fxFlex="60" class="info">
            <p>{{service.info}}</p>
            <p>{{service.moreInfo}}</p>
          </div>
      </div>
      <mat-action-row>
        <button *ngIf="i !== 0" mat-button color="warn" (click)="prevStep()">Previous</button>
        <button *ngIf="!l" mat-button color="primary" (click)="nextStep()">Next</button>
        <button *ngIf="l" mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <div fxFlex="15%" fxFlex.xs="0%"></div>
</div>
