<div fxLayout="row" fxLayoutAlign="space-between none" >
  <div fxFlex="15%" fxFlex.xs="0%"></div>
  <mat-accordion fxFlex="70%" fxFlex.xs="100%">
    <mat-spinner *ngIf="spinner"></mat-spinner>
    <mat-expansion-panel
      *ngFor="let service of services; let i = index; let l = last"
      [expanded]="step === i" (opened)="setStep(i)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title fxFlex="40">
          {{service.name}}
        </mat-panel-title>
        <mat-panel-description fxFlex="60">
          {{service.description}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="row" fxLayout.lt-sm="column" class="panel-body">
          <div fxFlex *ngIf="(service.imgUrl | async) as url">
            <img [src]="url" alt="{{service.name}}" (click)="openAssetViewDialog('image', url)">
          </div>
          <div fxFlex="60" class="info">
            <p>{{service.info}}</p>
            <p>{{service.moreInfo}}</p>
          </div>
      </div>
      <mat-action-row>
        <button *ngIf="i !== 0" mat-button color="warn" (click)="prevStep()">
          <mat-icon>keyboard_arrow_up</mat-icon>&nbsp;Previous
        </button>
        <button *ngIf="!l" mat-button color="primary" (click)="nextStep()">
          Next&nbsp;<mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <button *ngIf="l" mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <div fxFlex="15%" fxFlex.xs="0%"></div>
</div>
