<mat-spinner *ngIf="spinner"></mat-spinner>
<div *ngIf="!spinner" fxLayout="row" fxLayoutAlign="space-between stretch" >
  <div fxFlex="10%" fxFlex.xs="0%"></div>

  <div fxFlex="80%" fxFlex.xs="100%">
    <mat-card>
      <mat-card-header >
        <div class="header-left">
          <span class="header-title">{{project?.projectName}}</span>
          <br>
          <span class="custom-caption">current phase - {{project?.currentPhase}}</span>
        </div>
        <div class="header-right">
          <button *ngIf="phaseClose" mat-button color="warn" (click)="openConfirmationDialog()">
            <mat-icon>warning</mat-icon>&nbsp;Close this phase
          </button>
          <p *ngIf="!active" style="color:#f44336; text-align: right;">This phase has been completed!</p>
        </div>
      </mat-card-header>
      <mat-divider></mat-divider>
      
      <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly stretch" class="parent">
        <div *ngFor="let doc of phaseDocs; let l = last;" class="child"
          [ngStyle]="{'background-color': doc.username === userName? 'honeydew' : 'aliceblue'}"
          fxLayout="column" fxLayoutAlign="space-between stretch">
          <div class="sibling-1" fxLayout="row" fxLayoutAlign="space-between start">
            <div class="sibling-1-grand-child-1">
              <mat-icon [ngStyle]="{ 'color': doc.username === userName? '#3f51b5' : '#FF4081' }">
                account_circle
              </mat-icon>
              <br>
              <span class="span-1">{{doc.username}}</span>
              <br>
              <span class="span-1">{{doc.role}}</span>
              <br><br>
              <span class="span-2">{{doc.createdAt | date : 'E'}} at {{doc.createdAt | date : 'HH:mm'}},</span>
              <br>
              <span class="span-2">{{doc.createdAt | date : 'dd MMM yyyy'}},</span>
              <br>
              <span class="span-2">{{doc.createdAt | date : 'z'}}</span>
            </div>
            <div  class="sibling-1-grand-child-2">
              <h4>{{doc.fullName}}</h4>
              <div fxLayout="row" fxLayout.xs="column">
                <span fxFlex="50" class="msg-body">{{doc.message}}</span>
                <div *ngIf="doc.file" fxFlex="50" class="msg-body file-body">
                  <div *ngIf="(doc.file.downloadURL | async) as url">
                    <div *ngIf="doc.file.fileType === 'image'" >
                      <img [src]="url" alt="{{doc.file.name}}" >
                    </div>
                    <div *ngIf="doc.file.fileType === 'video'" >
                      <video controls>
                        <source [src]="url" type="video/{{doc.file.fileExtension}}">
                        Your browser does not support HTML5 video.
                      </video>                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!l" class="sibling-2" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="sibling-2-grand-child-1"></div>
            <div class="sibling-2-grand-child-2"></div>
          </div>
        </div>
      </mat-card-content>
      
      <mat-divider></mat-divider>
      <mat-card-actions *ngIf="active" fxLayout="row" fxLayoutAlign="space-between center">
        
        <mat-form-field fxFlex="90%" fxFlex.xs="80%" >
          <textarea matInput placeholder="Leave a message" #msg></textarea>
        </mat-form-field>
        
        <div fxFlex="5%" fxFlex.xs="5%"></div>

        <div fxFlex="5%" fxFlex.xs="15%">
          <!-- upload -->
          <div *ngIf="!msg.value">
            <div *ngIf="!progressBar">
              <button mat-icon-button color="foreground" (click)="fileInput.click()">
                <mat-icon>attach_file</mat-icon>
              </button>
              <input hidden type="file" #fileInput (change)="uploadFile($event)"/>
            </div>
            <div *ngIf="progressBar">
              <div *ngIf="(percentage | async) as pct">
                <mat-progress-bar color="primary" [value]="pct" mode="determinate"></mat-progress-bar>
                <br>
                {{pct.toFixed(2)}}%
              </div>
            </div>
          </div>
          <!-- end upload -->
          <!-- send -->
          <div *ngIf="msg.value">
            <button mat-icon-button color="primary" [disabled]="progressBar" (click)="onSend(msg.value)">
              <mat-icon >send</mat-icon>
            </button>
          </div>
          <!-- end send -->
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="10%" fxFlex.xs="0%"></div>
</div>
