mat-card {
    padding: 0px !important;
}

mat-spinner {
    display: block;
    margin: auto;
}

mat-card-header {
    background-color: #C5CAE9;
    border-radius: 2px;
    padding: 24px;
}

.header-left, .header-right {
    display: block;
    width: 50%;
}

.header-right button {
    float: right;
}

.header-title {
    font-weight: 500;
    font-size: 1em;
}

.custom-caption {
    color: rgba(0,0,0,.54);
    font-size: 14px;
}

.parent {
    margin-bottom: 0;
}

.child:last-child {
    padding-bottom: 1.5em;
}

.sibling-1, .sibling-2 {
    width: 100%;
}

.sibling-1 {
    padding: 24px;
}

.sibling-1-grand-child-1 {
    width: 20%;
    float: left;
    margin-right: 16px;
}

.sibling-1-grand-child-2 {
    width: 80%;
    text-align: left;
}

.msg-body {
    padding-right: 12px;
}

.file-body {
    margin: 1em 0;
}

.sibling-1-grand-child-1 span {
    color: #757575; 
}

.sibling-1-grand-child-1 .span-2 {
    font-size: 12px; 
}

.sibling-1-grand-child-1 mat-icon {
    width: 48px;
    height: 48px;
    font-size: 48px;
}

.sibling-2-grand-child-1 {
    width: 20%;
}

.sibling-2-grand-child-2 {
    width: 80%;
    border-bottom: 1px solid rgba(0,0,0,.12);
}

mat-card-actions {
    min-height: 90px;
    background-color: #FAFAFA;
    border-radius: 2px;
    padding: 24px;
    margin: 0;
}

video{
    object-fit: initial;
}

img, video {
    width: 100%;
    max-height: 200px;
    border-radius: 2px;
}

@media (max-width: 599px) {
    .sibling-1-grand-child-1, .sibling-2-grand-child-1 {
        width: 35%;
    }    
    .sibling-1-grand-child-2, .sibling-2-grand-child-2 {
        width: 65%;
    }
    .sibling-1-grand-child-1 .span-1 {
        font-size: 12px;
    }
    img, video {
        height: auto;
    }
}
