@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  /* for sticky footer*/
  height: 100%;
}

body {
  font-size: 100%;
  /* for sticky footer*/
  /* adjust the height by removing
     <html> generated 8px margin at the top and bottom
  */
  height: calc(100% - 16px);
}

h1, h2, h3, h4, h5, h6, p {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.user-card mat-card-content {
  width: 100%;
}
