@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  /* for sticky footer*/
  height: 100%;
}

body {
  font-size: 100%;
  /* for sticky footer*/
  /* adjust the height by removing
     <html> generated 8px margin at the top and bottom
  */
  height: calc(100% - 16px);
}

* {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

.user-card mat-card-content {
  width: 100%;
}

/* remove background yellow colour in autocomplete */
input {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
  box-shadow: inset 0 0 0px 9999px white;
}

/* warning messsage style*/
.warning {
  background-color: #fbe9e7;
  color: #d50000;
  padding: 12px;
}

#asset-view-dialog {
  background: #fafafa;
}