<div *ngIf="spinnerAdmin" fxLayout="row" fxLayout.xs="column"
    fxLayoutAlign="space-evenly start" fxLayoutAlign.xs="space-evenly stretch"
    fxLayoutGap.xs="20px">

  <mat-card fxFlex="40">
    <mat-card-title>
      <h3 *ngIf="!update">
        <mat-icon >business_center &nbsp;</mat-icon>
        Set up a new project
      </h3>
      <h3 *ngIf="update" class="warning">
        <mat-icon color="warn">warning &nbsp;</mat-icon>
        Update the project
      </h3>
    </mat-card-title>
    <mat-spinner *ngIf="spinnerForm" fxFlexAlign="center" mode="indeterminate" [diameter]="75"></mat-spinner>
    <form [formGroup]="projectForm" fxLayout="column" (ngSubmit)="onSetUpProject()">
      <mat-form-field>
        <input matInput placeholder="Project name" formControlName="projectName">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Service type" formControlName="serviceType" multiple>
          <mat-select-trigger>
            {{projectForm.value.serviceType ? projectForm.value.serviceType[0] : ''}}
            <span *ngIf="projectForm.value.serviceType?.length > 1" class="mat-caption">
              (+{{projectForm.value.serviceType.length - 1}} other services)
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let service of services" [value]="service.name">
            {{service.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Project manager(s)" formControlName="projectManagers" multiple>
          <mat-select-trigger>
            {{projectForm.value.projectManagers[0] ? projectForm.value.projectManagers[0].name : ''}}
            <span *ngIf="projectForm.value.projectManagers?.length > 1" class="mat-caption">
              (+{{projectForm.value.projectManagers.length - 1}} more project managers)
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let manager of projectManagers"
            [value]="{email:manager.email, name: manager.firstName + ' ' + manager.lastName}">
            {{manager.firstName}} {{manager.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Engineers / Constructors" formControlName="engineers" multiple>
          <mat-select-trigger>
            {{projectForm.value.engineers[0] ? projectForm.value.engineers[0].name : ''}}
            <span *ngIf="projectForm.value.engineers?.length > 1" class="mat-caption">
              (+{{projectForm.value.engineers.length - 1}} more engineers)
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let engineer of engineers"
            [value]="{email:engineer.email, name: engineer.firstName + ' ' + engineer.lastName}">
            {{engineer.firstName}} {{engineer.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Site location name" formControlName="site">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Site location city" formControlName="city">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Site location country" formControlName="country">
      </mat-form-field>
      <mat-form-field style="margin-bottom:20px">
        <textarea matInput placeholder="Message to project participants:"
          formControlName="message"></textarea>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <button type="submit" *ngIf="!spinnerSetUp"
          mat-raised-button color="accent"
          [disabled]="projectForm.invalid">
          Set up
        </button>
        <mat-spinner *ngIf="spinnerSetUp" fxFlexAlign="center"
          mode="indeterminate" [diameter]="59"></mat-spinner>
        <button type="button" *ngIf="update"
          mat-raised-button color="warn" (click)="onUpdate()"
          [disabled]="projectForm.invalid">
          Update
        </button>
      </div>
    </form>
  </mat-card>

  <mat-card fxFlex="40">
    <mat-card-title>
      <h3>List of projects run by Abfad:</h3>
    </mat-card-title>
    <mat-list fxLayout="column">
      <mat-spinner *ngIf="spinnerList" fxFlexAlign="center" mode="indeterminate" [diameter]="75"></mat-spinner>
      <div *ngFor="let project of projects">
        <mat-list-item (click)="onSelect(project)">
          <p mat-line>
            <mat-icon mat-list-icon>business_center</mat-icon>
            {{project.projectName}}
            <span fxHide.lt-lg> - 
              <span *ngFor="let s of project.serviceType; let l = last">
                <em>{{ l? s : s + ' ' }}</em>
              </span>
            </span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
      <mat-list-item (click)="onSelect(service)">
        <p mat-line>&nbsp;&nbsp;...&nbsp; and many more are coming</p>
      </mat-list-item>
    </mat-list>
  </mat-card>

</div>